// 修改浏览器内容宽度，此方法不适用 Pisces Scheme，
/* 
 * 需要同时修改 header 的宽度、.main-inner 的宽度以及 .content-wrap 的宽度。例如，使用百分比（Pisces 的布局定义在 source/css/_schemes/Picses/_layout.styl 中）
 * header{ width: 90%; }
 * .container .main-inner { width: 90%; }
 * .content-wrap { width: calc(100% - 260px); }
 */

// 修改成你期望的宽度 
// $content-desktop = 960px

// 当视窗超过 1600px 后的宽度 
// $content-desktop-large = 1080px